body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    background-color: $whiteThemeIconAccentColor;
    color: $whiteThemePrimaTextColor;
}

body.dark {
    background-color: $darkThemeBodyBgColor;
    color: $darkThemePrimaTextColor;
}

body.paleblue {
    background-color: $paleblueThemeBodyBgColor;
    color: $whiteThemeTitleColor;
}

header, footer {
    padding-top: 25px;
}

@media screen and (max-width: 767px) {
    header, footer {
    padding-top: 28px;
    }
}

main {
    position: relative;
    overflow: hidden;
}

svg {
    fill: $whiteThemePrimaTextColor;
}

.dark svg {
    fill: $darkThemePrimaTextColor;
}

@media screen and (max-width: 767px) {
    body.is-hidden {
        overflow: hidden;
    }
}