.nearest-cities-head {
    display: flex;
    margin-bottom: 8px;
}

.nearest-cities-title {
    order: 0;
    margin-right: auto;
}

.btn-show-all {
    background: transparent;
    border: none;
}

.cities-list {
    width: 413px;
    height: 443px;
    overflow-y: hidden;
}

.cities-item {
    width: 413px;
    height: 141px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 14px 24px;
    background-color: $whiteThemeBgColor;
    border-radius: 20px;
}

.cities-item:last-child {
    margin-bottom: 0;
}

.city {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 6px;
}

.info {
    font-size: 12px;
    margin-bottom: 31px;
}

.btn-see {
    padding: 2px 10px;
    font-size: 16px;
    background-color: $whiteThemeIconAccentColor;
    border: 1px solid $accentColor;
    border-radius: 32px;
}

.city-stats .icon-weather {
    margin-bottom: 14px;
}

.city-stats .temperature {
    text-align: center;
    font-size: 26px;
}

.city-stats .temperature::after {
    bottom: 20px;
    left: 0px;
}


