.selecter-box {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.select-days-list {
    display: flex;
    gap: 24px;
    order: 0;
    margin-right: auto;
}

@media screen and (max-width: 767px) {
    .selecter-box {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 767px) {
    .select-days-list {
        display: none
    }
}

.btn-select {
    color: $whiteThemeThirdTextColor;
    border: none;
    background: transparent;
    transition: color 250ms $timeCubic;
}

.dark .btn-select {
    color: $darkThemeRadioBtnColor;
}

.paleblue .btn-select {
    color: $paleblueThemeTextColor;
}

.btn-select:hover,
.btn-select:focus,
.current,
.paleblue .btn-select:hover,
.paleblue .btn-select:focus,
.paleblue .current {
    color: $whiteThemeTitleColor;
}

.dark .btn-select:hover,
.dark .btn-select:focus,
.dark .current {
    color: $darkThemeTitleColor;
}

.days-content-wrapper {
    position: relative;
    visibility: hidden;
    pointer-events: none;
}

.days-content-wrapper.current-content {
    animation-name: opacity;
    animation-duration: 1000ms;
    animation-timing-function: $timeCubic;
    animation-iteration-count: 1;
}

.days-list {
    display: flex;
    gap: 20px;
    opacity: 1;
}

.days-list.hidden {
    opacity: 0;
}

.days-item {
    height: 295px;
    animation-name: opacity;
    animation-duration: 500ms;
    animation-timing-function: $timeCubic;
    animation-iteration-count: 1;
}

.dark .indic-item {
    color: $darkThemeThirdTextColor;
}

.days-item:first-child,
.current-weather-box,
.tomorrow-weather-box {
    width: 307px;
    background-color: $whiteThemeSecBgColor;
    border-radius: 20px;
    overflow: hidden;
}

.dark .days-item:first-child,
.dark .current-weather-box,
.dark .tomorrow-weather-box {
    background-color: $darkThemeCardFirstDayBgColor;
}

.paleblue .days-item:first-child,
.paleblue .current-weather-box,
.paleblue .tomorrow-weather-box {
    background-color: $paleblueThemeCardFirstDayBgColor;
}

.day-time-wrapper,
.base-day-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 22px 12px 20px;
    background-color: $whiteThemeHeadColor;
}

.base-day-info {
    opacity: 0;
}

@media screen and (max-width: 767px) {
    .days-list {
    display: block;
    }

    .days-item:not(:last-child) {
        margin-bottom: 8px;
    }

    .days-item:first-child {
        width: 296px;
    }
    .days-item:not(:first-child) {
        display: flex;
        gap: 20px;
        width: 296px;
        height: 100px;
        align-items: center;
    }
}

.day {
    font-size: 20px;
    font-weight: 400;
}

.first-day-content {
    padding: 18px 32px 26px 32px;
}

.temperature-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2px;
    margin-bottom: 18px;
    gap: 30px;
}

.temperature-wrapper .temperature {
    font-size: 46px;
    font-weight: 400;
}

.temperature::after {
    box-sizing: border-box;
    position: relative;
    bottom: 40px;
    left: 5px;
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid $whiteThemeTitleColor;
    border-radius: 50%;
}

.dark .temperature::after {
    border: 2px solid $darkThemePrimaTextColor;
}

.weather-info-item {
    color: $whiteThemeSecTextColor;
    margin-bottom: 4px;
}

.dark .weather-info-item {
    color: $darkThemeThirdTextColor;
}

.paleblue .weather-info-item {
    color: $paleblueThemeTextColor;
}

.weather-info-item:last-child {
    margin-bottom: 0;
}

.weather-val,
.unit {
    color: $whiteThemeTitleColor;
}

.dark .weather-val,
.dark .unit {
    color: $darkThemePrimaTextColor;
}

.btn-more {
    display: block;
    margin-left: auto;
    padding: 2px 10px;
    background-color: $whiteThemeIconAccentColor;
    border: 2px solid $accentColor;
    border-radius: 32px;
}

@media screen and (max-width: 767px) {
    .btn-more {
    display: none;
    }
}

.days-item:not(:first-child) {
    width: 88px;
    padding: 16px 12px 22px 12px;
    background-color: $whiteThemeBgColor;
    text-align: center;
    border-radius: 20px;

    .icon-weather {
        margin-bottom: 34px;
    }

    .temperature {
        font-size: 30px;
    }

    .temperature::after {
        bottom: 20px;
        left: 5px;
    }

    @media screen and (max-width: 767px) {
        .day {
            font-size: 42px;
            order: 0;
        }
        .temperature {
            font-size: 42px;
            order: 1;
        }
         .icon-weather {
            margin: 0;
            order: 2;
        }
    }
}

.dark .days-item:not(:first-child) {
    background-color: $darkThemeCardLastDaysBgColor;
}

.paleblue .days-item:not(:first-child) {
    background-color: $paleblueThemeSidebarBgColor;
}

.days-item:not(:first-child) .day::after {
    content: '';
    display: block;
    margin: 4px auto 68px auto;
    width: 30px;
    height: 2px;
    background-color: $whiteThemeTitleColor;
    border-radius: 32px;
}

.dark .days-item:not(:first-child) .day::after {
    background-color: $darkThemePrimaTextColor;
}

@media screen and (max-width: 767px) {
    .days-item:not(:first-child) .day::after {
    content: '';
    display: none;
    }
}

.chart-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    visibility: hidden;
    pointer-events: none;
}

.hidden + .chart-container {
    visibility: visible;
    pointer-events: all;
    transition-delay: 200ms;
}

// Today

.current-weather-box,
.tomorrow-weather-box {
    position: absolute;
    top: 33px;
    left: 0;
    width: 739px;
    height: 295px;
    visibility: hidden;
    pointer-events: none;
}

@media screen and (max-width: 767px) {
    .current-weather-box,
    .tomorrow-weather-box {
        display: none;
    }
}

.base-day-info {
    gap: 42px;
}

.base-day-info {
    margin-bottom: 40px;
}

.sunrise-sunset-box {
    margin-left: auto;
    font-weight: 600;
}

.detail-weather {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 130px;
    font-size: 20px;
    opacity: 0;

    .temperature-wrapper {
        margin: 0;
        gap: 46px;

        .temperature {
        font-size: 64px;
        }
    }
}

.indic-list {
    color: $whiteThemeSecTextColor;

    .indic-item {
        margin-bottom: 5px;
    }

    .indic-item:last-child {
        margin: 0;
    }
}

.indic-val {
    color: $whiteThemeTitleColor;
}

.dark .indic-val {
    color: $darkThemePrimaTextColor;
}

.current-content {
    visibility: visible;
    pointer-events: all;
}

.current-weather-box.current-content,
.tomorrow-weather-box.current-content {
    animation-name: stretch;
    animation-duration: 500ms;
    animation-timing-function: $timeCubic;
    animation-iteration-count: 1;
}

.current-content .base-day-info,
.current-content .detail-weather {
    opacity: 1;
    transition: opacity 250ms linear;
    transition-delay: 500ms;
}