.modal-search {
    padding-top: 80px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 250ms $timeCubic, opacity 250ms $timeCubic;
}

.modal-search.active {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
}

.modal-form {
    margin: 0 auto 24px auto;
    text-align: center;
}

.search-formfied {
    position: relative;
    display: inline-block;
}

.input-search,
.search-item {
    width: 734px;
    padding: 28px 56px 28px 24px;
    font-size: 24px;
    background-color: $whiteThemeInputColor;
    color: $whiteThemeIconAccentColor;
    border: none;
    border-radius: 25px;
    outline: none;
}

.dark .input-search,
.paleblue .input-search {
    background-color: $darkThemeInputBgColor;
    color: $whiteThemeTitleColor;
}

.icon-input {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    fill: $whiteThemeIconAccentColor;
}

.dark .icon-input {
    fill: $whiteThemeTitleColor;
}

.search-item {
    margin: 0 auto 24px auto;
    font-size: 20px;
    background-color: $whiteThemeSearchItemsColor;
}

.dark .search-item{
    background-color: $darkThemeItemSearchBgColor;
    color: $whiteThemeTitleColor;
}

.paleblue .search-item {
    background-color: $paleblueThemeItemSearchBgClolr;
    color: $whiteThemeTitleColor;
}

.search-item:last-child {
    margin: 0 auto;
}