main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 24px;
}

.title {
    display: inline-block;
    padding: 2px 10px;
    order: 1;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid $whiteThemeTitleColor;
    border-radius: 32px;
}

.dark .title {
    color: $darkThemeTitleColor;
    border-color: $darkThemeTitleColor;
}