.sidebar {
    display: flex;
    flex-direction: column;
    width: 88px;
    padding: 22px 14px;
    background-color: $whiteThemeBgColor;
    border-radius: 20px;
}

.dark .sidebar {
    background-color: $darkThemeSidebarBgColor;
}

.paleblue .sidebar {
    background-color: $paleblueThemeSidebarBgColor;
}

nav {
    margin-bottom: auto;
}

.top-side-item:not(:last-child) {
    margin-bottom: 24px;
}

.side-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: $whiteThemeBtnColor;
    color: $whiteThemeIconColor;
    border-radius: 50%;
    border: none;
    transition: background-color 250ms $timeCubic, color 250ms $timeCubic;
}

.dark .side-btn {
    color: $darkThemeSecTextColor;
}

.side-btn:hover,
.side-btn:focus,
.current-btn {
    background-color: $whiteThemeBtnAccentColor;
    color: $whiteThemeIconAccentColor;
}

.side-btn .icon-side {
    fill: currentColor;
}


.bot-side-item:first-child {
    margin-bottom: 10px;
}

.bot-side-item:first-child .side-btn {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    color: $whiteThemeIconAccentColor;
}

.animated {
    animation-name: swichColor;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes swichColor {
    0% {
        color: $whiteThemeIconAccentColor;
    }

    50% {
        color: $accentSecColor;
    }

    100% {
        color: $whiteThemeIconAccentColor;
    }
}