// All Theme

$accentColor: #FFF500;

// White Theme

$whiteThemeBgColor: #DDDDDD;
$whiteThemeSecBgColor: #EAEAEA;
$whiteThemePrimaTextColor: #212121;
$whiteThemeSecTextColor: #6B6B6B;
$whiteThemeThirdTextColor: #595959;
$whiteThemeIconColor: #CFCFCF;
$whiteThemeBtnColor: rgba(65, 65, 65, 0.5);
$whiteThemeIconAccentColor: #ffffff;
$whiteThemeBtnAccentColor: #414141;
$whiteThemeTitleColor: #000000;
$whiteThemeHeadColor: rgba(207, 207, 207, 0.5);
$whiteThemeBorderColor: #878787;