// All Theme

$accentColor: #FFF500;
$accentSecColor: #87FF7C;

// White Theme

$whiteThemeBgColor: #DDDDDD;
$whiteThemeSecBgColor: #EAEAEA;
$whiteThemePrimaTextColor: #212121;
$whiteThemeSecTextColor: #6B6B6B;
$whiteThemeThirdTextColor: #595959;
$whiteThemeIconColor: #CFCFCF;
$whiteThemeBtnColor: rgba(65, 65, 65, 0.5);
$whiteThemeIconAccentColor: #ffffff;
$whiteThemeBtnAccentColor: #414141;
$whiteThemeTitleColor: #000000;
$whiteThemeHeadColor: rgba(207, 207, 207, 0.5);
$whiteThemeBorderColor: #878787;
$whiteThemeInputColor: #646464;
$whiteThemeSearchItemsColor: #454545;

// Time cubic

$timeCubic: cubic-bezier(0.35, 0.97, 0.35, 0.97);