@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    } 
}

@keyframes swichColor {
    0% {
        color: $whiteThemeIconAccentColor;
    }

    50% {
        color: $accentSecColor;
    }

    100% {
        color: $whiteThemeIconAccentColor;
    }
}



@keyframes stretch {
    0% {
        width: 0;
    }

    100% {
        width: 739px;

    }
}