// All Theme

$accentColor: #FFF500;
$accentSecColor: #87FF7C;
$rejectColor: #FF7C7C;

// White Theme

$whiteThemeBgColor: #DDDDDD;
$whiteThemeSecBgColor: #EAEAEA;
$whiteThemePrimaTextColor: #212121;
$whiteThemeSecTextColor: #6B6B6B;
$whiteThemeThirdTextColor: #595959;
$whiteThemeIconColor: #CFCFCF;
$whiteThemeBtnColor: rgba(65, 65, 65, 0.5);
$whiteThemeIconAccentColor: #ffffff;
$whiteThemeBtnAccentColor: #414141;
$whiteThemeTitleColor: #000000;
$whiteThemeHeadColor: rgba(207, 207, 207, 0.5);
$whiteThemeBorderColor: #878787;
$whiteThemeInputColor: #646464;
$whiteThemeSearchItemsColor: #454545;
$whiteThemeBorderModalColor: rgba(0,0,0,0.5);

// Dark Theme

$darkThemeBodyBgColor: #383838;
$darkThemePrimaTextColor: #EEEEEE;
$darkThemeSidebarBgColor: #2B2B2B;
$darkThemeSecTextColor: #9D9D9D;
$darkThemeRadioBtnColor: #595959;
$darkThemeTitleColor: #E0E0E0;
$darkThemeCardFirstDayBgColor: #404040;
$darkThemeThirdTextColor: #AAAAAA;
$darkThemeCardLastDaysBgColor: #2B2B2B;
$darkThemeBackdropBgColor: #585858;
$darkThemeInputBgColor: #AEAEAE;
$darkThemeItemSearchBgColor: #EFEFEF;
$darkThemeModalSetBgColor: #494949;

// Paleblue Theme

$paleblueThemeBodyBgColor: #DCEAFF;
$paleblueThemeSidebarBgColor: #B4CBED;
$paleblueThemeTextColor: #545454;
$paleblueThemeCardFirstDayBgColor: #C6DDFF;
$paleblueThemeBackdropBgColor: #EDF4FF;
$paleblueThemeItemSearchBgClolr: #FDFDFD;

// Time cubic

$timeCubic: cubic-bezier(0.35, 0.97, 0.35, 0.97);